/**
 * CSS color variables.
 */

:root {
    --color1: #{$color1};
    --color2: #{$color2};
    --color3: #{$color3};
    --color4: #{$color4};
    --color5: #{$color5};

    --color-black: #{$black};
    --color-white: #{$white};
    --color-green: #{$green};
    --color-red:   #{$red};

    --color-primary:   #{$primary};
    --color-secondary: #{$secondary};
    --color-background: #{$background};

    --color-primary-content:   #{$primary-content-color};
    --color-secondary-content: #{$secondary-content-color};

    --color-green-5:   #{$green-5};
    --color-green-10:  #{$green-10};
    --color-green-15:  #{$green-15};
    --color-green-20:  #{$green-20};
    --color-green-25:  #{$green-25};
    --color-green-30:  #{$green-30};
    --color-green-35:  #{$green-35};
    --color-green-40:  #{$green-40};
    --color-green-45:  #{$green-45};
    --color-green-50:  #{$green-50};
    --color-green-55:  #{$green-55};
    --color-green-60:  #{$green-60};
    --color-green-65:  #{$green-65};
    --color-green-70:  #{$green-70};
    --color-green-75:  #{$green-75};
    --color-green-80:  #{$green-80};
    --color-green-85:  #{$green-85};
    --color-green-90:  #{$green-90};
    --color-green-95:  #{$green-95};
    --color-green-105: #{$green-105};
    --color-green-110: #{$green-110};
    --color-green-115: #{$green-115};
    --color-green-120: #{$green-120};
    --color-green-125: #{$green-125};
    --color-green-130: #{$green-130};
    --color-green-135: #{$green-135};
    --color-green-140: #{$green-140};
    --color-green-145: #{$green-145};
    --color-green-150: #{$green-150};
    --color-green-155: #{$green-155};
    --color-green-160: #{$green-160};
    --color-green-165: #{$green-165};
    --color-green-170: #{$green-170};
    --color-green-175: #{$green-175};
    --color-green-180: #{$green-180};
    --color-green-185: #{$green-185};
    --color-green-190: #{$green-190};
    --color-green-195: #{$green-195};

    --color-grey-5:  #{$grey-5};
    --color-grey-10: #{$grey-10};
    --color-grey-15: #{$grey-15};
    --color-grey-20: #{$grey-20};
    --color-grey-25: #{$grey-25};
    --color-grey-30: #{$grey-30};
    --color-grey-35: #{$grey-35};
    --color-grey-40: #{$grey-40};
    --color-grey-45: #{$grey-45};
    --color-grey-50: #{$grey-50};
    --color-grey-55: #{$grey-55};
    --color-grey-60: #{$grey-60};
    --color-grey-65: #{$grey-65};
    --color-grey-70: #{$grey-70};
    --color-grey-75: #{$grey-75};
    --color-grey-80: #{$grey-80};
    --color-grey-85: #{$grey-85};
    --color-grey-90: #{$grey-90};
    --color-grey-95: #{$grey-95};

    --color-primary-5:   #{$primary-5};
    --color-primary-10:  #{$primary-10};
    --color-primary-15:  #{$primary-15};
    --color-primary-20:  #{$primary-20};
    --color-primary-25:  #{$primary-25};
    --color-primary-30:  #{$primary-30};
    --color-primary-35:  #{$primary-35};
    --color-primary-40:  #{$primary-40};
    --color-primary-45:  #{$primary-45};
    --color-primary-50:  #{$primary-50};
    --color-primary-55:  #{$primary-55};
    --color-primary-60:  #{$primary-60};
    --color-primary-65:  #{$primary-65};
    --color-primary-70:  #{$primary-70};
    --color-primary-75:  #{$primary-75};
    --color-primary-80:  #{$primary-80};
    --color-primary-85:  #{$primary-85};
    --color-primary-90:  #{$primary-90};
    --color-primary-95:  #{$primary-95};
    --color-primary-105: #{$primary-105};
    --color-primary-110: #{$primary-110};
    --color-primary-115: #{$primary-115};
    --color-primary-120: #{$primary-120};
    --color-primary-125: #{$primary-125};
    --color-primary-130: #{$primary-130};
    --color-primary-135: #{$primary-135};
    --color-primary-140: #{$primary-140};
    --color-primary-145: #{$primary-145};
    --color-primary-150: #{$primary-150};
    --color-primary-155: #{$primary-155};
    --color-primary-160: #{$primary-160};
    --color-primary-165: #{$primary-165};
    --color-primary-170: #{$primary-170};
    --color-primary-175: #{$primary-175};
    --color-primary-180: #{$primary-180};
    --color-primary-185: #{$primary-185};
    --color-primary-190: #{$primary-190};
    --color-primary-195: #{$primary-195};

    --color-red-5:   #{$red-5};
    --color-red-10:  #{$red-10};
    --color-red-15:  #{$red-15};
    --color-red-20:  #{$red-20};
    --color-red-25:  #{$red-25};
    --color-red-30:  #{$red-30};
    --color-red-35:  #{$red-35};
    --color-red-40:  #{$red-40};
    --color-red-45:  #{$red-45};
    --color-red-50:  #{$red-50};
    --color-red-55:  #{$red-55};
    --color-red-60:  #{$red-60};
    --color-red-65:  #{$red-65};
    --color-red-70:  #{$red-70};
    --color-red-75:  #{$red-75};
    --color-red-80:  #{$red-80};
    --color-red-85:  #{$red-85};
    --color-red-90:  #{$red-90};
    --color-red-95:  #{$red-95};
    --color-red-105: #{$red-105};
    --color-red-110: #{$red-110};
    --color-red-115: #{$red-115};
    --color-red-120: #{$red-120};
    --color-red-125: #{$red-125};
    --color-red-130: #{$red-130};
    --color-red-135: #{$red-135};
    --color-red-140: #{$red-140};
    --color-red-145: #{$red-145};
    --color-red-150: #{$red-150};
    --color-red-155: #{$red-155};
    --color-red-160: #{$red-160};
    --color-red-165: #{$red-165};
    --color-red-170: #{$red-170};
    --color-red-175: #{$red-175};
    --color-red-180: #{$red-180};
    --color-red-185: #{$red-185};
    --color-red-190: #{$red-190};
    --color-red-195: #{$red-195};

    --color-secondary-5:   #{$secondary-5};
    --color-secondary-10:  #{$secondary-10};
    --color-secondary-15:  #{$secondary-15};
    --color-secondary-20:  #{$secondary-20};
    --color-secondary-25:  #{$secondary-25};
    --color-secondary-30:  #{$secondary-30};
    --color-secondary-35:  #{$secondary-35};
    --color-secondary-40:  #{$secondary-40};
    --color-secondary-45:  #{$secondary-45};
    --color-secondary-50:  #{$secondary-50};
    --color-secondary-65:  #{$secondary-65};
    --color-secondary-60:  #{$secondary-60};
    --color-secondary-65:  #{$secondary-65};
    --color-secondary-70:  #{$secondary-70};
    --color-secondary-75:  #{$secondary-75};
    --color-secondary-80:  #{$secondary-80};
    --color-secondary-85:  #{$secondary-85};
    --color-secondary-90:  #{$secondary-90};
    --color-secondary-95:  #{$secondary-95};
    --color-secondary-105: #{$secondary-105};
    --color-secondary-110: #{$secondary-110};
    --color-secondary-115: #{$secondary-115};
    --color-secondary-120: #{$secondary-120};
    --color-secondary-125: #{$secondary-125};
    --color-secondary-130: #{$secondary-130};
    --color-secondary-135: #{$secondary-135};
    --color-secondary-140: #{$secondary-140};
    --color-secondary-145: #{$secondary-145};
    --color-secondary-150: #{$secondary-150};
    --color-secondary-155: #{$secondary-155};
    --color-secondary-160: #{$secondary-160};
    --color-secondary-165: #{$secondary-165};
    --color-secondary-170: #{$secondary-170};
    --color-secondary-175: #{$secondary-175};
    --color-secondary-180: #{$secondary-180};
    --color-secondary-185: #{$secondary-185};
    --color-secondary-190: #{$secondary-190};
    --color-secondary-195: #{$secondary-195};
}