/**
 * Stylesheet for account organisms.
 *
 * @see ~/components/organisms/account
 */

.account {
    /**
     * AccountList organism.
     *
     * @see ~/components/organisms/account/Panel.vue
     */
    &--list {
        .new-account {
            display: none;
    
            &.focusing,
            &.focused {
                display: block;
            }
        }
    }

    /**
     * AccountPanel organism.
     *
     * @see ~/components/organisms/account/Panel.vue
     */
    &--panel {
        transition: opacity $transition-speed-slow, all $transition-speed;

        &:hover:not(.focused) {
            h3 {
                color: $white;
            }
    
            h4 {
                color: $secondary-130;
            }
    
            .price {
                &.positive {
                    color: $green-130;
                }
    
                &.negative {
                    color: $red-130;
                }
            }
        }
    
        &.error {
            background: $red-110;
        }
    
        .price {
            float: right;
            margin-top: -$margin-normal - 10;
        }
    
        &.deleted {
            opacity: 0;
        }
    }
}