$color1: #F95A0E;
$color2: #A5653D;
$color3: #69645B;
$color4: #F8E4C1;
$color5: adjust-color($color: $color4, $lightness: +10%);

$black: #000;
$white: #fff;
$green: #7FAF1B;
$red: #FF404B;

$primary: $color1;
$secondary: $color2;
$background: $color4;

$primary-content-color: $white;
$secondary-content-color: $white;

$green-5:   adjust-color($color: $green, $lightness: -95%);
$green-10:  adjust-color($color: $green, $lightness: -90%);
$green-15:  adjust-color($color: $green, $lightness: -85%);
$green-20:  adjust-color($color: $green, $lightness: -80%);
$green-25:  adjust-color($color: $green, $lightness: -75%);
$green-30:  adjust-color($color: $green, $lightness: -70%);
$green-35:  adjust-color($color: $green, $lightness: -65%);
$green-40:  adjust-color($color: $green, $lightness: -60%);
$green-45:  adjust-color($color: $green, $lightness: -55%);
$green-50:  adjust-color($color: $green, $lightness: -50%);
$green-55:  adjust-color($color: $green, $lightness: -45%);
$green-60:  adjust-color($color: $green, $lightness: -40%);
$green-65:  adjust-color($color: $green, $lightness: -35%);
$green-70:  adjust-color($color: $green, $lightness: -30%);
$green-75:  adjust-color($color: $green, $lightness: -25%);
$green-80:  adjust-color($color: $green, $lightness: -20%);
$green-85:  adjust-color($color: $green, $lightness: -15%);
$green-90:  adjust-color($color: $green, $lightness: -10%);
$green-95:  adjust-color($color: $green, $lightness: -5%);
$green-105: adjust-color($color: $green, $lightness: +5%);
$green-110: adjust-color($color: $green, $lightness: +10%);
$green-115: adjust-color($color: $green, $lightness: +15%);
$green-120: adjust-color($color: $green, $lightness: +20%);
$green-125: adjust-color($color: $green, $lightness: +25%);
$green-130: adjust-color($color: $green, $lightness: +30%);
$green-135: adjust-color($color: $green, $lightness: +35%);
$green-140: adjust-color($color: $green, $lightness: +40%);
$green-145: adjust-color($color: $green, $lightness: +45%);
$green-150: adjust-color($color: $green, $lightness: +50%);
$green-155: adjust-color($color: $green, $lightness: +55%);
$green-160: adjust-color($color: $green, $lightness: +60%);
$green-165: adjust-color($color: $green, $lightness: +65%);
$green-170: adjust-color($color: $green, $lightness: +70%);
$green-175: adjust-color($color: $green, $lightness: +75%);
$green-180: adjust-color($color: $green, $lightness: +80%);
$green-185: adjust-color($color: $green, $lightness: +85%);
$green-190: adjust-color($color: $green, $lightness: +90%);
$green-195: adjust-color($color: $green, $lightness: +95%);

$grey-5:  adjust-color($color: $white, $lightness: -95%);
$grey-10: adjust-color($color: $white, $lightness: -90%);
$grey-15: adjust-color($color: $white, $lightness: -85%);
$grey-20: adjust-color($color: $white, $lightness: -80%);
$grey-25: adjust-color($color: $white, $lightness: -75%);
$grey-30: adjust-color($color: $white, $lightness: -70%);
$grey-35: adjust-color($color: $white, $lightness: -65%);
$grey-40: adjust-color($color: $white, $lightness: -60%);
$grey-45: adjust-color($color: $white, $lightness: -55%);
$grey-50: adjust-color($color: $white, $lightness: -50%);
$grey-55: adjust-color($color: $white, $lightness: -45%);
$grey-60: adjust-color($color: $white, $lightness: -40%);
$grey-65: adjust-color($color: $white, $lightness: -35%);
$grey-70: adjust-color($color: $white, $lightness: -30%);
$grey-75: adjust-color($color: $white, $lightness: -25%);
$grey-80: adjust-color($color: $white, $lightness: -20%);
$grey-85: adjust-color($color: $white, $lightness: -15%);
$grey-90: adjust-color($color: $white, $lightness: -10%);
$grey-95: adjust-color($color: $white, $lightness: -5%);

$primary-5:   adjust_color($color: $primary, $lightness: -95%);
$primary-10:  adjust_color($color: $primary, $lightness: -90%);
$primary-15:  adjust_color($color: $primary, $lightness: -85%);
$primary-20:  adjust_color($color: $primary, $lightness: -80%);
$primary-25:  adjust_color($color: $primary, $lightness: -75%);
$primary-30:  adjust_color($color: $primary, $lightness: -70%);
$primary-35:  adjust_color($color: $primary, $lightness: -65%);
$primary-40:  adjust_color($color: $primary, $lightness: -60%);
$primary-45:  adjust_color($color: $primary, $lightness: -55%);
$primary-50:  adjust_color($color: $primary, $lightness: -50%);
$primary-55:  adjust_color($color: $primary, $lightness: -45%);
$primary-60:  adjust_color($color: $primary, $lightness: -40%);
$primary-65:  adjust_color($color: $primary, $lightness: -35%);
$primary-70:  adjust_color($color: $primary, $lightness: -30%);
$primary-75:  adjust_color($color: $primary, $lightness: -25%);
$primary-80:  adjust_color($color: $primary, $lightness: -20%);
$primary-85:  adjust_color($color: $primary, $lightness: -15%);
$primary-90:  adjust_color($color: $primary, $lightness: -10%);
$primary-95:  adjust_color($color: $primary, $lightness: -5%);
$primary-105: adjust_color($color: $primary, $lightness: +5%);
$primary-110: adjust_color($color: $primary, $lightness: +10%);
$primary-115: adjust_color($color: $primary, $lightness: +15%);
$primary-120: adjust_color($color: $primary, $lightness: +20%);
$primary-125: adjust_color($color: $primary, $lightness: +25%);
$primary-130: adjust_color($color: $primary, $lightness: +30%);
$primary-135: adjust_color($color: $primary, $lightness: +35%);
$primary-140: adjust_color($color: $primary, $lightness: +40%);
$primary-145: adjust_color($color: $primary, $lightness: +45%);
$primary-150: adjust_color($color: $primary, $lightness: +50%);
$primary-155: adjust_color($color: $primary, $lightness: +55%);
$primary-160: adjust_color($color: $primary, $lightness: +60%);
$primary-165: adjust_color($color: $primary, $lightness: +65%);
$primary-170: adjust_color($color: $primary, $lightness: +70%);
$primary-175: adjust_color($color: $primary, $lightness: +75%);
$primary-180: adjust_color($color: $primary, $lightness: +80%);
$primary-185: adjust_color($color: $primary, $lightness: +85%);
$primary-190: adjust_color($color: $primary, $lightness: +90%);
$primary-195: adjust_color($color: $primary, $lightness: +95%);

$red-5:   adjust-color($color: $red, $lightness: -95%);
$red-10:  adjust-color($color: $red, $lightness: -90%);
$red-15:  adjust-color($color: $red, $lightness: -85%);
$red-20:  adjust-color($color: $red, $lightness: -80%);
$red-25:  adjust-color($color: $red, $lightness: -75%);
$red-30:  adjust-color($color: $red, $lightness: -70%);
$red-35:  adjust-color($color: $red, $lightness: -65%);
$red-40:  adjust-color($color: $red, $lightness: -60%);
$red-45:  adjust-color($color: $red, $lightness: -55%);
$red-50:  adjust-color($color: $red, $lightness: -50%);
$red-55:  adjust-color($color: $red, $lightness: -45%);
$red-60:  adjust-color($color: $red, $lightness: -40%);
$red-65:  adjust-color($color: $red, $lightness: -35%);
$red-70:  adjust-color($color: $red, $lightness: -30%);
$red-75:  adjust-color($color: $red, $lightness: -25%);
$red-80:  adjust-color($color: $red, $lightness: -20%);
$red-85:  adjust-color($color: $red, $lightness: -15%);
$red-90:  adjust-color($color: $red, $lightness: -10%);
$red-95:  adjust-color($color: $red, $lightness: -5%);
$red-105: adjust-color($color: $red, $lightness: +5%);
$red-110: adjust-color($color: $red, $lightness: +10%);
$red-115: adjust-color($color: $red, $lightness: +15%);
$red-120: adjust-color($color: $red, $lightness: +20%);
$red-125: adjust-color($color: $red, $lightness: +25%);
$red-130: adjust-color($color: $red, $lightness: +30%);
$red-135: adjust-color($color: $red, $lightness: +35%);
$red-140: adjust-color($color: $red, $lightness: +40%);
$red-145: adjust-color($color: $red, $lightness: +45%);
$red-150: adjust-color($color: $red, $lightness: +50%);
$red-155: adjust-color($color: $red, $lightness: +55%);
$red-160: adjust-color($color: $red, $lightness: +60%);
$red-165: adjust-color($color: $red, $lightness: +65%);
$red-170: adjust-color($color: $red, $lightness: +70%);
$red-175: adjust-color($color: $red, $lightness: +75%);
$red-180: adjust-color($color: $red, $lightness: +80%);
$red-185: adjust-color($color: $red, $lightness: +85%);
$red-190: adjust-color($color: $red, $lightness: +90%);
$red-195: adjust-color($color: $red, $lightness: +95%);

$secondary-5:   adjust_color($color: $secondary, $lightness: -95%);
$secondary-10:  adjust_color($color: $secondary, $lightness: -90%);
$secondary-15:  adjust_color($color: $secondary, $lightness: -85%);
$secondary-20:  adjust_color($color: $secondary, $lightness: -80%);
$secondary-25:  adjust_color($color: $secondary, $lightness: -75%);
$secondary-30:  adjust_color($color: $secondary, $lightness: -70%);
$secondary-35:  adjust_color($color: $secondary, $lightness: -65%);
$secondary-40:  adjust_color($color: $secondary, $lightness: -60%);
$secondary-45:  adjust_color($color: $secondary, $lightness: -55%);
$secondary-50:  adjust_color($color: $secondary, $lightness: -50%);
$secondary-65:  adjust_color($color: $secondary, $lightness: -45%);
$secondary-60:  adjust_color($color: $secondary, $lightness: -40%);
$secondary-65:  adjust_color($color: $secondary, $lightness: -35%);
$secondary-70:  adjust_color($color: $secondary, $lightness: -30%);
$secondary-75:  adjust_color($color: $secondary, $lightness: -25%);
$secondary-80:  adjust_color($color: $secondary, $lightness: -20%);
$secondary-85:  adjust_color($color: $secondary, $lightness: -15%);
$secondary-90:  adjust_color($color: $secondary, $lightness: -10%);
$secondary-95:  adjust_color($color: $secondary, $lightness: -5%);
$secondary-105: adjust_color($color: $secondary, $lightness: +5%);
$secondary-110: adjust_color($color: $secondary, $lightness: +10%);
$secondary-115: adjust_color($color: $secondary, $lightness: +15%);
$secondary-120: adjust_color($color: $secondary, $lightness: +20%);
$secondary-125: adjust_color($color: $secondary, $lightness: +25%);
$secondary-130: adjust_color($color: $secondary, $lightness: +30%);
$secondary-135: adjust_color($color: $secondary, $lightness: +35%);
$secondary-140: adjust_color($color: $secondary, $lightness: +40%);
$secondary-145: adjust_color($color: $secondary, $lightness: +45%);
$secondary-150: adjust_color($color: $secondary, $lightness: +50%);
$secondary-155: adjust_color($color: $secondary, $lightness: +55%);
$secondary-160: adjust_color($color: $secondary, $lightness: +60%);
$secondary-165: adjust_color($color: $secondary, $lightness: +65%);
$secondary-170: adjust_color($color: $secondary, $lightness: +70%);
$secondary-175: adjust_color($color: $secondary, $lightness: +75%);
$secondary-180: adjust_color($color: $secondary, $lightness: +80%);
$secondary-185: adjust_color($color: $secondary, $lightness: +85%);
$secondary-190: adjust_color($color: $secondary, $lightness: +90%);
$secondary-195: adjust_color($color: $secondary, $lightness: +95%);

:root {
    --primary-color: #F95A0E;
    --secondary-color: #A5653D;
}