/**
 * Common sizes variables.
 */

$box-tiny: 16px;
$box-little: 28px;
$box-normal: 32px;
$box-big:    48px;
$box-bigger: 64px;

$header-height: 48px;

$margin-tiny: 4px;
$margin-little: 8px;
$margin-normal: 16px;
$margin-big: 24px;

$text-height: 16px;