.panel {
    background: $white;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto $margin-little auto;
    padding: $margin-normal;
    width: 90vw;
    transition: all $transition-speed;

    &.clickeable {
        cursor: pointer;

        &:hover:not(.focused) {
            background: $primary;
        }
    }

    &.focused, &.deleted {
        &:not(.unfocusing) {
            left: 0.5vw !important;
            top: $header-height !important;
        }
        position: fixed;
        width: 99vw;
        z-index: 40;

        &.unfocusing:not(.deleted) {
            width: 90vw;
        }
    }
}

.panel-zone {
    margin-bottom: $margin-little;
}