.panel {
    background: $white;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto $margin-little auto;
    padding: $margin-normal;
    width: 90vw;
    transition: all $transition-speed;

    &.focused {
        &:not(.unfocusing) {
            left: 0.5vw !important;
            top: $margin-normal !important;
        }
        position: fixed;
        width: 99vw;
        z-index: 40;

        &.unfocusing {
            width: 90vw;
        }
    }
}

.panel-zone {
    margin-bottom: $margin-little;
}