select {
    border: 1px solid $grey-90;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    line-height: $box-little;
    margin: 0;
    padding: .8em .5em;
    transition: all $transition-speed;
    width: 100%;

    &:focus {
        outline: 1px solid $primary;
        box-shadow: 0 0 5px $primary;
    }

    option {
        padding: .8em .5em;
    }
}