.title {
    h1 {
        color: $primary;
        font-size: 1.3em;
        line-height: $header-height;
        margin: 0 0 0 1em;
    }

    h3 {
        color: $primary;
        margin: 0 0 .5em 0;
        font-size: 1.1em;
    }

    h4 {
        color: $secondary;
        margin: 0;
        font-size: .8em;
    }
}