.menu {
    .btn-close {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
    }

    .btn-open {
        box-sizing: border-box;
        height: $header-height;
        position: fixed;
        width: $header-height;
        z-index: 11;

        right: 0;
        top: 0;

        .fa-times {
            display: none;
        }
    }

    .container {
        background: $color5;
        height: 100vh;
        padding-top: $header-height;
        position: fixed;
        transition: margin $transition-speed;
        width: 80vw;
        z-index: 30;

        margin-right: -80vw;
        right: 0;
        top: 0;

        &.opened {
            margin-right: 0;
        }

        .content {
            height: 100vh;
        }
    }
}