.menu {
    .btn-open {
        box-sizing: border-box;
        height: $header-height;
        left: 0;
        position: fixed;
        top: 0;
        width: $header-height;
        z-index: 11;

        .fa-times {
            display: none;
        }
    }

    .container {
        background: $color5;
        height: 100vh;
        margin-left: -80vw;
        position: fixed;
        left: 0;
        transition: margin $transition-speed;
        top: 0;
        width: 80vw;
        z-index: 30;

        &.opened {
            margin-left: 0;
        }

        .content {
            height: 100vh;
        }
    }
}