/**
 * Stylesheet for form molecules.
 *
 * @see ~/components/molecules/form
 */

/**
 * FormInput molecule.
 *
 * @see ~/components/molecules/form/Input.vue
 */
.form-input {
    display: block;
    margin-bottom: $margin-normal;
    position: relative;

    &:focus-within {
        span {
            color: $primary;
        }
    }

    span {
        background: $white;
        display: block;
        font-size: .8em;
        margin-left: $margin-tiny;
        margin-top: -.8em;
        padding-left: $margin-tiny;
        padding-right: $margin-tiny;
        position: absolute;
    }
}

/**
 * FormSelect molecule.
 *
 * @see ~/components/molecules/form/Select.vue
 */
.form-select {
    @extend .form-input;
}