.menu-link {
    color: $secondary;
    display: block;
    padding: 1em 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $transition-speed;

    &:hover {
        color: $primary;
    }
}